* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* celular */
.app {
  width: 360px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  background: black;
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
}

/* telas */
.tela {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.tela.ativa {
  display: block;
}

/* mídia */
.media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DEBUG BOTÕES */
.area {
  position: absolute;
  border: 2px solid red;
  background: rgba(255,0,0,0.1);
  cursor: pointer;
}

/* tela 1 */
.area-abrir {
  width: 60%;
  height: 20%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* tela 3 */
.areas-botoes {
  position: absolute;
  top: 65%; /* você pode ajustar */
  width: 100%;
  height: 80px;
}

/* cada botão separado */
.circulo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* botão 1 */
.areas-botoes .circulo:nth-child(1) {
  position: absolute;
  left: 15%;
}

/* botão 2 */
.areas-botoes .circulo:nth-child(2) {
  position: absolute;
  left: 40%;
}

/* botão 3 */
.areas-botoes .circulo:nth-child(3) {
  position: absolute;
  left: 70%;
}

/* tela 4 */
.voltar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 5%;
  right: 5%;
}

/* contador */
.contador {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background: rgba(0,0,0,0.5);
  padding: 8px;
  border-radius: 10px;
}
